@model GestionEleves.Models.Etudient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Etudient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EtudientID" />
            <div class="form-group">
                <label asp-for="EtudientFirstName" class="control-label"></label>
                <input asp-for="EtudientFirstName" class="form-control" />
                <span asp-validation-for="EtudientFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EtudientLastName" class="control-label"></label>
                <input asp-for="EtudientLastName" class="form-control" />
                <span asp-validation-for="EtudientLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EtudientBirthDate" class="control-label"></label>
                <input asp-for="EtudientBirthDate" class="form-control" />
                <span asp-validation-for="EtudientBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EtablissementId" class="control-label"></label>
                <select asp-for="EtablissementId" class="form-control" asp-items="ViewBag.Etablissements"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
